@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: 'Jost', sans-serif;
}

.sidebar {
  width: 275px;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  min-height: 100vh;
  padding: 2.5rem 1rem 1rem 1rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 7px -1px 12px 0px rgba(0,0,0,0.025);
}
.sidebar-header {
  width: 100%;
  margin-bottom: 2rem;
}
.sidebar-header img {
  display: block;
  margin: 0 auto;
  max-width: 120px;
  height: auto;
}
.sidebar-nav{
  padding: 1.5rem 1rem;
}
.sidebar-nav span {
  font-size: 1.1rem;
  font-weight: 400;
  color: #2a2a2a;
  margin-bottom: 1rem;
}
.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-nav > ul > li {
  margin-bottom: 1.2rem;
}
.sidebar-nav a {
  color: rgba(6, 29, 27, 1);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  transition: background 0.15s;
  gap: 0.7em;
  padding: 0 1rem;
}
.sidebar-nav a:hover {
  background: rgba(6, 29, 27, 0.05);
}
.sidebar-nav ul ul {
  margin-top: 0.3rem;
  margin-left: 1rem;
}
.sidebar-nav ul ul li {
  margin-bottom: 0.5rem;
}
.sidebar-dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(6, 29, 27, 0.25) !important;;
  margin-right: 0.2em;
  margin-top: 1rem;
  padding: 0 !important;
}

@media (max-width: 900px) {
  .sidebar {
    width: 200px;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
  }
  .sidebar-header img {
    max-width: 80px;
  }
}
@media (max-width: 600px) {
  .sidebar {
    position: fixed;
    width: 100vw;
    height: 60px;
    min-height: 0;
    left: 0;
    top: 0;
    z-index: 200;
    border-right: none;
    border-bottom: 1px solid #e5e7eb;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-header, .sidebar-nav {
    display: none;
  }
}